html { 
  
  background-color: rgb(109, 128, 107);

  margin-left: auto;
  margin-right: auto;
  width: 73%;
}
.header {
  background-color: #5f6e5d;
  padding: 20px;
  text-align: center;
  color: rgb(237, 232, 230);
  line-height: 1.7
}
.body {
  text-align: center; 
  color: rgb(237, 232, 230);
  line-height: 3.0
}
.footer {
  background-color: #5f6e5d;
  padding: 20px;
  text-align: center;
  color: rgb(237, 232, 230);
  line-height: 1.7
}
