html {
  background-color: rgb(109, 128, 107);
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.header {
  text-align: center;
  color: rgb(237, 232, 230);
  line-height: 1.7
}
.body {
  text-align: center; 
  color: rgb(237, 232, 230);
  line-height: 5.5
}
